body,
p {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.default {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #dbeafe, #bfdbfe, #eff6ff);
}

.header {
  height: 100px;
  width: 100%;
}

.login-div {
  height: fit-content;
  width: 450px;
  background-color: white;
  justify-content: flex-start;
  gap: 20px;
  padding: 25px 0px 25px 0px;
  border-radius: 15px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

svg {
  margin: 0;
  margin-bottom: -20px;
}

.top-section {
  height: 80px;
  width: 100%;
  background-color: rgb(52, 89, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-container-header {
  height: fit-content;
  width: 100%;
  gap: 15px;
  padding: 15px 0px;
}

.login-container-header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
}

.login-container-header p {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  color: #4b5563;
}

.login-block {
  height: 80px;
  width: 85%;
  gap: 5px;
}

.login-block-title {
  height: 40%;
  width: 100%;
  align-items: flex-start;
  font-size: 0.9rem;
}

.login-block-input-div {
  height: 60%;
  width: 100%;
  background-color: white;
  border: 1px solid #aeaeae;
  outline: none;
  border-radius: 10px;
}

.login-block-input-div:hover {
  border: 1px solid #2374ff;
}

.login-block-input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0px;
  border: none;
  outline: none;
  padding-left: 15px;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
}

.login-button-div {
  height: 50px;
  width: 85%;
  margin-top: 5px;
}

.login-button {
  height: 100%;
  width: 100%;
  background-color: #0066ff;
  border: 1px solid white;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button:hover {
  background: linear-gradient(135deg, #0052cc, #3385ff);
  transform: scale(1.01);
}

.login-sub-footer {
  height: 30px;
  width: 85%;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -10px;
  color: #2b2b2b;
  font-size: 0.9rem;
}

.login-footer {
  height: fit-content;
  width: 85%;
  padding: 10px;
  gap: 10px;
  border-top: 1px solid rgb(204, 204, 204);
  margin-top: 10px;
  padding-top: 20px;
}

.status-button {
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: 300;
}

.login-footer p {
  flex-direction: row;
}

.status-button:hover {
  color: #0066ff;
}

.error-message {
  color: #dc2626;
  font-size: 0.9rem;
  text-align: center;
}
